<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqZMOATL0aj8C_cFikop6zz7tkRmE_wK4</string>
	<key>GCM_SENDER_ID</key>
	<string>564900138715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodconnect</string>
	<key>PROJECT_ID</key>
	<string>foodconnect-9600c</string>
	<key>STORAGE_BUCKET</key>
	<string>foodconnect-9600c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564900138715:ios:aea7ac2498d8bb48adc6fe</string>
</dict>
</plist>